.main__login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;

    @media (width < 991px) {
        flex-direction: column;
        height: auto;
    }
}


.left__side,
.left__side_register {
    flex-basis: 50%;
    min-height: 100vh;
    background: url('../assets/images/loginHeader.png') no-repeat center center;
    background-size: cover;
    position: relative;

    @media (width < 991px) {
        width: 100%;
        min-height: 250px;
    }
}


.left__side::before,
.left__side_register::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/images/loginHeader.png') no-repeat center center;
    background-size: cover;
}

.left__side_register::before {
    background: url('../assets/images/registerHeader.png') no-repeat center center;
    background-size: cover;
}

@media (width < 991px) {

    .left__side::before,
    .left__side_register::before {
        filter: blur(5px);
    }
}

.logo__img svg {
    width: 320px;
    position: absolute;
    inset-inline-end: 30px;
    inset-block-start: 30px;

    @media (width < 991px) {
        inset-inline-start: 50%;
        inset-block-start: 50%;
        transform: translate(-50%, -50%);
    }
}

.right__side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 1rem;

    @media (width < 991px) {
        width: 100%;
    }
}

.right__side form {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;


    @media (width < 767px) {
        padding: 1rem;
    }
}

.login__title {
    margin-block-end: 1rem;
}

.login__title h1 {
    font-size: 2rem;
    color: var(--main-blue);
    font-weight: 600;
}

.login__title span {
    font-size: 1rem;
    color: #2D2D2D;
    font-weight: 400;
}

.form__group {
    margin-block-end: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    position: relative;
}

.form__group label {
    font-size: .875rem;
    color: #01161E;
    font-weight: 400;
}

.form__group input,
.form__group select {
    width: 100%;
    padding: .75rem;
    padding-inline-start: 2rem;
    border: 1px solid #01161E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: .875rem;
    color: #01161E;
    font-weight: 400;
    caret-color: var(--main-blue);

    &:focus {
        outline: none;
        border-color: var(--main-blue);
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
}

.form__group .input__icon {
    position: absolute;
    inset-block-start: 44px;
    inset-inline-start: 10px;
}

.input__icon path {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.form__group select:focus+.input__icon path,
.form__group input:focus+.input__icon path {
    stroke: var(--main-blue);
}

.login__rest_links {
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.5rem;
    color: var(--main-blue);

    @media (width < 991px) {
        flex-direction: column;
        gap: 1rem;
    }
}

.forgot__password a {
    font-size: .75rem;
    font-weight: 400;
    color: var(--main-blue);
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.forgot__password a:hover {
    text-decoration: underline;
}

.remember__me {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.remember__me input {
    width: 1rem;
    height: 1rem;
}

.remember__me label {
    font-size: .75rem;
    font-weight: 400;
    cursor: pointer;
}

.right__side button[type="submit"] {
    width: 100%;
    padding: .75rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: .875rem;
    color: #fff;
    font-weight: 400;
    background-color: var(--main-blue);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    margin-block-end: 1rem;
}

.signup__link {
    font-size: .875rem;
    font-weight: 400;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    text-align: center;

    & a {
        color: var(--main-blue);
        margin-inline-start: .5rem;
    }
}

.login__break_line {
    font-size: 1rem;
    font-weight: 400;
    color: #A5A5A5;
    margin-block-end: 1.5rem;
    position: relative;
    width: 100%;
    text-align: center;
}

.login__break_line::before,
.login__break_line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 42%;
    height: 1px;
    background-color: #ddd;
}

.login__break_line::before {
    left: 0;
}

.login__break_line::after {
    right: 0;
}

.social__login {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block-end: 1.5rem;
}

.google__login,
.facebook__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: 1px solid #E5E5E5;
    padding: .5rem 1.5rem;
    width: 175px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.form__groups_name {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.register__privacy {
    font-size: .75rem;
    font-weight: 400;
    color: #2D2D2D;
    margin-block-end: 2rem;

    & a {
        color: var(--main-blue);
    }
}